<div class="container">
  <div class="row">
    <div class="title" style="text-align: center;">
      <h1>All enable users</h1>
    </div>

    <div class="row" style="display: flex;">

      <div class="col-md-6">
        <input class="id-input" placeholder="id" [(ngModel)]="user.userId">

        <button (click)="userService.getUserById(user.userId)">search</button>
      </div>

      <div class="col-md-6" style="text-align: right;">
        <button class="add-button">Add user</button>
      </div>

    </div>
  </div>

  <div class="row">
    <table>
      <tr>
        <th>userId</th>
        <th>email</th>
        <th>username</th>
        <th>role</th>
        <th>enable</th>
      </tr>
      <tr *ngFor="let user of userService.usersList">
        <td>{{user.userId}}</td>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.enable}}</td>
      </tr>

    </table>
  </div>



</div>
